<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.barber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />


    <application
        android:name=".core.BarberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.preauth.activities.SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.preauth.activities.LandingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.HomeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.UpdateDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.preauth.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.SpecialiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.basic.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.basic.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.CalloutOpeningHoursActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.AddServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.TimeSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.AddMobileNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.VerifyMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.SearchAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.AddressSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.ServiceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.basic.AddWorkspacePhotos"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.PaymentTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.ProfileScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.AvailabilityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.settings.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.settings.SupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.MyPortfolioActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.MyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.BrowserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.CalenderSyncActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.ReviewRatingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.SelectZoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.InvitationCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.ProgressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.HoursActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.chat.ChatWorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.IportContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.ClientCanBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.PaymentAuthanticationSetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.postauth.activities.settings.InviteBarberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.postauth.activities.home.CanceledAppointmentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.client.AddClientActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.BusinessStatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.client.ClientDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.client.SelectCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.client.AddAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.client.SelectServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.DisplayImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.BlockHoursActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.postauth.activities.client.MobileContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.AddressScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.PayDueAmountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.socket_work.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.support_chat.SupportChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!--Crop activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


        <!--Image provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <!--QB-->
        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="FCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="909331114935" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />
        <!--QB-->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQWlghQN1EZ12_W1DsTFRPspNVNfEvD0c" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--FIREBASE MESSAGING-->
        <service
            android:name=".net.firebase.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".net.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>